h1{
    font-size: 5em !important;
    font-family: 'Lato', ;
    margin-top: 3rem;
  }
h2{
    font-family: 'Lato',;
    color: #000;
    padding-top: 2rem;
    font-size: 2em !important;
}

.container-fluid{
  padding-bottom: 20rem;
}
.img-banner{
  padding-left: 10rem !important;
}
